<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Open graph -->
        <meta name="title" property="og:title" content="$title$"/>
    $if(heading-img)$
        <meta name="image" property="og:image" content="$heading-img$"/>
        <meta name="image:secure_url" property="og:image:secure_url" content="$heading-img$"/>
        <meta name="image:type" property="og:image:type" content="image/jpeg" /> 
    $endif$
        <meta name="type" property="og:type" content="website"/>
        <meta name="url" property="og:url" content="https://kvnyijia.github.io$url$"/>
        <meta name="site_name" property="og:site_name" content="kvnyijia"/>
        <!-- <meta name="description" property="og:description" content="A software developer's Notes"/> -->

        <title>$if(home)$ kvnyijia $else$ $title$ | kvnyijia $endif$</title>
        <link rel="stylesheet" href="/css/default.css">
        <!-- For icons -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="/css/prism.css">
    </head>

    <body>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <!-- For syntax highlighting -->
        <script src="/js/prism.js"></script>
        <script>
            function toggleFunction() {
              var x = document.getElementById("myTopnav");
              var x2 = document.getElementById("nav-bar");
              if (x.className === "") {
                x.className += "responsive";
                x2.className = "scrolled";
              } 
              else {
                x.className = "";
              }
            }

            window.onscroll = function() { scrollingFunction() };

            function scrollingFunction() {
                var x2 = document.getElementById("nav-bar");
                var but = document.getElementById("scroll2TopButton");

                if (document.body.scrollTop > window.innerHeight || document.documentElement.scrollTop > window.innerHeight) {
                    x2.className = "scrolled";
                } 
                else {
                    x2.className = "";
                }

                if (document.body.scrollTop > window.innerHeight * 0.1 || 
                    document.documentElement.scrollTop > window.innerHeight * 0.1) {
                    but.className = "scroll2Top";
                } 
                else {
                    but.className = "scroll2TopHide";
                }
            }

            function scroll2Top() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }

            function mail2Me() {
                window.location.href = "mailto:" + ["kvnyijia", "gmail.com"].join("@");
            }
        </script>

        <header id="nav-bar">
            <nav id="myTopnav">
                <a href="/">kvnyijia</a>
                <!-- <a href="/about.html">About</a> -->
                <a href="/archive/">Archive</a>
                <a href="/tags/">Tags</a>
                <a href="javascript:void(0);" class="icon" onclick="toggleFunction()">
                    <i class="fas fa-bars"></i>
                </a>
            </nav>
        </header>

    $if(heading-img)$
        <div class="heading-img" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url($heading-img$);">
    $else$
        <div class="heading-img" style="background-color: #A8BAA1">
    $endif$
        </div>

        <h1 class="article-heading">$title$</h1>
        <!-- $if(subtitle)$ -->
        <!-- <h1 class="article-heading">$subtitle$</h1> -->
        <!-- $endif$ -->

        <main role="main">
            $body$
        </main>

        <button id="scroll2TopButton" onclick="scroll2Top()">
            <i class="far fa-chevron-up"></i>
        </button>

        <footer>
            <div class="flex-container">
                <div class="footer" id="div-links">
                    <h3>kvnyijia</h3>
                </div>
            </div>

            <div class="flex-container">
                <div class="footer" id="div-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- <li><a href="/about.html">About</a></li> -->
                        <li><a href="/archive/">Archive</a></li>
                        <li><a href="/tags/">Tags</a></li>
                    </ul>
                    <p>
                        Powered by
                        <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
                    </p>
                </div>
                <div class="footer" id="div-follow">
                    <h4>Follow Me</h4>
                    <p>
                        <a class="follow-icon" href="https://github.com/kvnyijia"><i class="fab fa-github-square"></i></a> 
                        <a class="follow-icon" href="https://www.linkedin.com/in/kvnyijia/"><i class="fab fa-linkedin"></i></a> 
                        <a class="follow-icon" href="https://twitter.com/kvnyijia"><i class="fab fa-twitter-square"></i></a> 
                        <a class="follow-icon" href="https://www.instagram.com/kvnyijia/"><i class="fab fa-instagram-square"></i></a> 
                        <a class="follow-icon" onclick="mail2Me()"><i class="fas fa-envelope-square"></i></a> 
                        
                        <!-- <ul>
                            <li><a class="follow-icon" href="https://github.com/kvnyijia"><i class="fab fa-github"></i></a></li> 
                            <li><a class="follow-icon" href="https://www.linkedin.com/in/kvnyijia/"><i class="fab fa-linkedin-in"></i></a></li> 
                            <li><a class="follow-icon" href="https://twitter.com/kvnyijia"><i class="fab fa-twitter"></i></a></li> 
                            <li><a class="follow-icon" href="https://www.instagram.com/kvnyijia/"><i class="fab fa-instagram"></i></a></li> 
                        </ul> -->   
                    </p>
                </div>
                <div class="footer">
                    <!-- Empty div -->
                </div>
            </div>
        </footer>
    </body>
    
</html>
