<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$if(home)$ kevin110604 $else$ $title$ | kevin110604 $endif$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>

    <body>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        <header>
            <div class="logo">
                <a href="/">kevin110604’s blog</a>
            </div>
            <nav>
                <a href="/about.html">About</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <div class="article-heading">
            <h1 class="article-heading">$title$</h1>
        </div>

        <main role="main">
        $if(isArchive)$
            $partial("templates/post-list.html")$
        $endif$
        $body$
        </main>

        <footer>
            <p>
            Powered by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            </p>
        </footer>
    </body>
    
</html>
