<article>
    <!-- <img class="avatar" src="images/avatar.jpg" alt="Avatar"> -->

    $body$

    <h2 id="projects" class="anchor-link">Projects</h2>
    $partial("templates/project-template.html")$

    <h2 id="articles" class="anchor-link">Articles</h2>
    </br>
    <p>There is no articles now!</p>

$for(posts)$
    <div class="preview-flex-container">
        <div class="post-flex-item">
        $if(heading-img)$
            <img src="$heading-img$" alt="Heading image" class="preview-heading">
        $else$
            <div class="preview-heading" style="background-color: #eceef1"></div>
        $endif$
        </div>
        <div class="post-flex-item">
            <a href="$url$"><h3>$title$</h3></a>
            <div class="preview-post-info">
            $if(author)$
                By $author$
            $endif$
                <time>$date$</time>
            </div>
        </div>
    </div>
    
    $sep$<hr>
$endfor$
    </br>

    <h2 id="contact" class="anchor-link">Contact</h2>
    </br>
    </br>
    
    <div class="center-container">
        <img class="avatar" src="images/avatar.jpg" alt="Avatar">
    </div>

    <div class="center-container">
        <p><span class="button">
          <a 
            href="/assets/Kevin_Chen_resume.pdf"
            class="button"
            target="_blank"
          >
            SEE RESUME
          </a>
        </span>
        <span class="button">
          <a 
            onclick="mail2Me()"
            class="button"
          >
            SEND EMAIL
          </a>
        </span></p>
    </div>
    </br>
</article>