<article>
    <!-- <img class="avatar" src="images/avatar.jpg" alt="Avatar"> -->

    $body$
$for(posts)$
    <div class="preview-flex-container">
        <div class="post-flex-item">
        $if(heading-img)$
            <img src="$heading-img$" alt="Heading image" class="preview-heading">
        $else$
            <div class="preview-heading" style="background-color: #eceef1"></div>
        $endif$
        </div>
        <div class="post-flex-item">
            <a href="$url$"><h3>$title$</h3></a>
            <div class="preview-post-info">
            $if(author)$
                By $author$
            $endif$
                <time>$date$</time>
            </div>
        </div>
    </div>
    
    $sep$<hr>
$endfor$
    </br>
</article>