<article>
    <section class="header">
        $date$
    $if(author)$
        By $if(author-link)$<a href=$author-link$>$endif$ $author$ $if(author-link)$</a>$endif$
    $endif$
    </section>

    <section>
        $body$
    </section>
    
    <section class="tags-sec">
        <ul class="tags">
        $for(tags)$
            <li class="tags"><code>$tagElement$</code></li>
        $endfor$
        </ul>
    </section>

    <hr>

    <section class="page-nav">
        <span class="page-nav-prev">
        $if(previousPageUrl)$
            <a href=$previousPageUrl$>
                <i class="fas fa-chevron-left"></i>
                Older
            </a>
        $else$
            <a class="inactive">
                <i class="fas fa-chevron-left"></i>
                Older
            </a>
        $endif$
        </span>

        <span class="page-nav-next">
        $if(nextPageUrl)$
            <a href=$nextPageUrl$>
                Newer
                <i class="fas fa-chevron-right"></i>
            </a>
        $else$
            <a class="inactive">
                Newer
                <i class="fas fa-chevron-right"></i>
            </a>
        $endif$
        </span>
    </section>

    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        
        var disqus_config = function () {
            this.page.url = 'https://kevin110604.github.io' + '$url$';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '$path$'.replace('archive/', '');  // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://kevin110604.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>

</article>
