<article>
    <section class="header">
        $date$
    $if(author)$
        By $if(author-link)$<a href=$author-link$>$endif$ $author$ $if(author-link)$</a>$endif$
    $endif$
    </section>
    
    <section>
        $body$
    </section>
    
    <section class="tags-sec">
        <ul class="tags">
        $for(tags)$
            <li class="tags"><code>$tagElement$</code></li>
        $endfor$
        </ul>
    </section>

    <section class="page-nav">
        <a href=$previousPageUrl$>Previous</a>
        <a href=$nextPageUrl$>Next</a>
    </section>

</article>
