<link rel="stylesheet" href="/css/mycard.css">

<div class="project-container">

  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/WordCardsScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>Word Cards</h3>
      <div class="flex-row">
        <div class="card-tag">Java</div>
        <div class="card-tag">Spring Boot</div>
        <div class="card-tag">Hibernate</div>
        <div class="card-tag">REST APIs</div>
        <div class="card-tag">PostgreSQL</div>
      </div>
      <p>An online flashcard maker helps you create and study flashcards.</p>
    </main>
  </div>

  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/MiniRedditScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>Mini Reddit</h3>
      <div class="flex-row">
        <div class="card-tag">TypeScript</div>
        <div class="card-tag">React</div>
        <div class="card-tag">Next.js</div>
        <div class="card-tag">Node.js</div>
        <div class="card-tag">Apollo</div>
        <div class="card-tag">GraphQL</div>
        <div class="card-tag">Redis</div>
      </div>
      <p>A lightweight content rating system where users can create, upvote and downvote posts.</p>
    </main>
  </div>
  
  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/SimpleBankScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>Simple Bank</h3>
      <div class="flex-row">
        <div class="card-tag">Golang</div>
        <div class="card-tag">AWS</div>
        <div class="card-tag">gRPC</div>
        <div class="card-tag">Docker</div>
        <div class="card-tag">Kubernetes</div>
        <div class="card-tag">Microservices</div>
      </div>
      <p>A bank web application to manage transactions.</p>
      <div class="flex-row">
      </div>
    </main>
  </div>

  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/TasteScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>Taste</h3>
      <div class="flex-row">
        <div class="card-tag">React Native</div>
        <div class="card-tag">Mobile App</div>
        <div class="card-tag">Google Map APIs</div>
      </div>
      <p>Mobile app for finding restaurants based on personal taste preference.</p>
      <div class="flex-row">
      </div>
    </main>
  </div>

  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/THEONEScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>THE ONE</h3>
      <div class="flex-row">
        <div class="card-tag">Python</div>
        <div class="card-tag">Flask</div>
        <div class="card-tag">NLP</div>
        <div class="card-tag">D3.js</div>
        <div class="card-tag">Machine Learning</div>
      </div>
      <p>Book recommender system that tells you what to read next using 5 different approaches.</p>
      <div class="flex-row">
      </div>
    </main>
  </div>

  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/AirQualityScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>Air Quality</h3>
      <div class="flex-row">
        <div class="card-tag">Python</div>
        <div class="card-tag">Flask</div>
        <div class="card-tag">MongoDB</div>
        <div class="card-tag">Machine Learning</div>
        <div class="card-tag">Data Analytics</div>
      </div>
      <p>Air quality data collection, analysis & prediction from scratch at NCKU.</p>
      <div class="flex-row">
      </div>
    </main>
  </div>

  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/FinanceHeroScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>Finance Hero</h3>
      <div class="flex-row">
        <div class="card-tag">C#</div>
        <div class="card-tag">.NET</div>
        <div class="card-tag">MS SQL Server</div>
      </div>
      <p>A budgeting app with minigame inside, making spend tracking more enjoyable!</p>
      <div class="flex-row">
      </div>
    </main>
  </div>

  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img class="hero-image" src="/images/RunRunScreenShot.png" alt="image of project"/>
    </a>
    <main class="main-content">
      <h3>RunRun</h3>
      <div class="flex-row">
        <div class="card-tag">C#</div>
        <div class="card-tag">Unity</div>
      </div>
      <p>A classic parkour game made with Unity Game Engine.</p>
      <div class="flex-row">
      </div>
    </main>
  </div>

</div>
  
</br>
